footer{
    background-color: #333;
    padding:1rem;;
}
.footer-font{
    font-size: 10px;
}

@media screen and (max-width:576px) {
    .contact-footer{
        width:fit-content;
        margin: auto;
    }
}