.head-bar{
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    color: white !important;
    padding: 0.3rem;;
}
.contact-head li{
    font-size:12px;
}
.contact-head li svg{
    color:black;
}