
header{
    position: fixed;
    top:0;
    width:100%;
    z-index: 10000;
    /* background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%); */
    color: white !important;
    position: fixed;
    background: rgb(64, 27, 156);
    /* padding:1rem; */
}
.main-head{
    padding:1rem;
}
.company-name{
    letter-spacing: 3px;
    font-weight: 700;
    /* position: absolute;
    margin-bottom: -10px; */
    /* color:var(--violet-color) */
}
.company-quote{
    margin-bottom: 0;
    text-align: center;
    font-size:14px;
    letter-spacing: 2px;
}