.introduction{
    /* background: grey */
    /* color: white !important; */
    /* background:rgb(0,0,0,0.15); */
    background-size:cover;
}
.backdrop-hero{
    background-color: rgb(135,206,250,0.6)
    /* z-index: auto; */
}
.z-index-2{
    z-index: 2000;
}
.company-intro{
    color:var(--violet-color)
}