.jobs-image-container{
    width:90%;
    margin:auto;
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .jobs-image-container{
        width:75%;
    }
    
}
.jobs-image-container img{
    /* width:400px;*/
    height:300px; 
    width:100%;
    object-fit: cover;
    object-position: 0% 0%;
}
.jobs-image-container .carousel-caption{
    top:auto !important;
    bottom: 0 !important;
    left:auto !important;
    right:auto !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    color:var(--violet-color)
}
.jobs-image-container .work-name{
    color:var(--violet-color);
    font-weight: 1000;
    letter-spacing: 1.3px;

}
.jobs .carousel-indicators [data-bs-target]{
    height:7px;
    width:7px;
    border-radius: 50%;
}
.jobs .carousel-control-next{
    justify-content: flex-end;
}
.jobs .carousel-control-prev{
    justify-content: flex-start;
}