.edit-body{
    background-color:none;
    min-height:100vh;
}

.edit-body label{
    color:var(--violet-color);
    letter-spacing: 0.2px;
    font-weight: 500;
}
.button-container{
    position: absolute;
bottom: 0;
right: 0 !important;
margin-right: 5px;
margin-bottom: 5px;
width: fit-content !important;
}
.edit-body input,.edit-body textarea,.edit-body select{
    border:none;
    background-color:transparent;
    padding:5px;
    outline-color: var(--violet-color);
    width:100%;
}
.custom-grid-properties{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:10px
}