.general-details-edit{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    margin-top: 5rem;
}
.general-details-edit label{
    padding-left:0 !important;
    padding:10px
}
.general-details-edit button{
    display: block;
    margin: auto;
    margin-top:1rem;
    border:2px solid transparent;
    outline:none;
    padding:0.4rem 1rem;
    transition: border 200ms;
     color:var(--violet-color);
     font-weight: 700;;
     border-radius: 5px;
}
.general-details-edit button:hover{
   border: 2px solid var(--violet-color);
}