.loginform{
    border:1px solid var(--violet-color);
    padding:2rem;
    box-shadow: var(--violet-color) 0px 3px 6px, var(--violet-color) 0px 3px 6px;}
.loginform label{
    display: block;
    padding:10px;
    color:var(--violet-color);
    padding-left:0
}
.loginform button{
    display: block;
    margin: auto;
    margin-top:1rem;
    border:2px solid transparent;
    outline:none;
    padding:0.4rem 1rem;
    transition: border 200ms;
     color:var(--violet-color);
     font-weight: 700;;
     border-radius: 5px;
}
.loginform button:hover{
   border: 2px solid var(--violet-color);
}
.loginform input{
    border:none;
    outline-color: var(--violet-color);
    padding: 1rem;;
    width:300px;
    background-color: rgb(240, 240, 240);
}
