.sub-headings{
    margin-bottom:2rem;
    color:var(--violet-color);
    letter-spacing: 0.6px;;
}
a{
    text-decoration: none !important;
}
.violet-color{
    color:var(--violet-color)
}
